
.count_wrapper{
    margin-bottom: 2%;
    overflow: hidden;
}

.wrapper .count_container {
    display:flex;
    width: 520%;
}

li{list-style:none}

ul{
    display:flex;
    flex-grow:1;
    padding: 0%;
}
ul li{
    width:33%;
    text-align:center;
    color:white;
}

p{
    margin: 0;
}

.count{
    font-size: 3vw;
}
.title{
    font-size: 1vw;
}

